{% extends "base.html" %} {% load static %} {% block page_header %}
<!-- Hero Section -->
<section id="profile-header" class="h-screen bg-gradient-to-br from-rose-100 via-purple-100 to-sky-100">
    <div>
        <div class="profile-image rounded text-left"</div>
    </div>
    <div class="max-w-6xl mx-auto text-center mb-40 pt-16">
      <p>Name here </p>
      <p>Member since February 2025</p>
        </h3>
    </div>
    <div>
        <button class="btn btn-black">Edit Profile</button>
    </div>
  
</section>

<section id="profile" class="bg-white">
  <div class="container-1 flex flex-col md:w-1/2 p-4">
    <p><strong>Personal Information</strong></p>
    <div>
        <p>Email: </p>
        <div></div>
    </div>
    <div>
        <p>Location: </p>
        <div></div>
    </div>
    <div>
        <p>Age: </p>
        <div></div>
    </div>
    <div>
        <p>Bio: </p>
        <div></div>
    </div> 
  </div>

  <div class="container-2 flex flex-col md:w-1/2 p-4">
    <p><strong>Preferences</strong></p>
    <div>
         <p>Event Type Interests: </p>
         <div></div>
    </div>
    <div>
        <p>Age Range Preferences: </p>
        <div></div>
    </div>
    <div>
        <p>Location Radius</p>
        <div></div>
    </div>
  </div>

  <div class="container-3 flex flex-col md:w-1/2 p-4">
    <p><strong>My Events</strong></p>
    <div class="upcoming-events">
        <p>Upcoming Events</p>
        <div></div>
    </div>
    <div class="past-events">
        <p>Past Events</p>
        <div></div>
    </div>
    </div>
  </div>
</section>

{% endblock %}
